<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../../node_modules/anicollection/dist/anicollection.css">
    <link rel="stylesheet" href="../../../public/uncompresed/css/2015-11-27/movelist.css">
    <title>Document</title>
</head>
<body>
<main id="main">
    <div class="ani-list">
        <div class="ani-list__item item1" data-anijs="if: touchstart, on: #main, do: fadeInRight lfx-ani-delay-300-ms animated;"></div>
        <div class="ani-list__item item2" data-anijs="if: animationstart, on: .item1, do: fadeInRight lfx-ani-delay-300-ms animated;"></div>
        <div class="ani-list__item item3" data-anijs="if: animationstart, on: .item2, do: fadeInRight lfx-ani-delay-300-ms animated;"></div>
        <div class="ani-list__item item4" data-anijs="if: animationstart, on: .item3, do: fadeInRight lfx-ani-delay-300-ms animated;"></div>
        <div class="ani-list__item item5" data-anijs="if: animationstart, on: .item4, do: fadeInRight lfx-ani-delay-300-ms animated;"></div>
        <div class="ani-list__item item6" data-anijs="if: animationstart, on: .item5, do: fadeInRight lfx-ani-delay-300-ms animated;"></div>
        <div class="ani-list__item item7" data-anijs="if: animationstart, on: .item6, do: fadeInRight lfx-ani-delay-300-ms animated;"></div>
        <div class="ani-list__item item8" data-anijs="if: animationstart, on: .item7, do: fadeInRight lfx-ani-delay-300-ms animated;"></div>
        <div class="ani-list__item item9" data-anijs="if: animationstart, on: .item8, do: fadeInRight lfx-ani-delay-300-ms animated;"></div>
        <div class="ani-list__item item10" data-anijs="if: animationstart, on: .item9, do: fadeInRight lfx-ani-delay-300-ms animated;"></div>
    </div>
</main>
<script src="../../../node_modules/AniJS/dist/anijs-min.js"></script>
</body>
</html>